{% include 'header.twig' %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="well ">
        {{ contentText }}
      </div>
    </div>
  </div>
</div>

{% include 'footer.twig' %}
