{% include 'header.twig' %}
<br>
<div id="block_252">
        <div class="faq ">
            
 
			



        
            <div class="bg"></div>
            <div class="divider-top"></div>
            <div class="divider-bottom"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="row">
                          
                              <div class="col-lg-12">
                                    <div class="faq-block__card">
                                        <div class="card" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ">
                                            <div class="faq-block__header collapsed" data-toggle="collapse" data-target="#faq-block-252-9" aria-expanded="false" aria-controls="#faq-block-252-9">
                                                <div class="faq-block__header-title">
                                                    <h4>MUST READ IT!</h4>
                                                </div>
                                                <div class="faq-block__header-icon">
                                                    <div class="style-text-dark faq-block__icon" style></div>
                                                </div>
                                            </div>
                                        
                                            <div class="faq-block__body collapse" id="faq-block-252-9">
                                                <div class="faq-block__body-description" style="padding-top: 8px">
        <br>                                                                                                  {{ contentText }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                          
                          
                          
                                                        <div class="col-lg-12">
                                    <div class="faq-block__card">
                                        <div class="card" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ">
                                            <div class="faq-block__header collapsed" data-toggle="collapse" data-target="#faq-block-252-1" aria-expanded="false" aria-controls="#faq-block-252-1">
                                                <div class="faq-block__header-title">
                                                    <h4>What makes people look for SMM panels?</h4>
                                                </div>
                                                <div class="faq-block__header-icon">
                                                    <div class="style-text-dark faq-block__icon" style></div>
                                                </div>
                                            </div>
                                            <div class="faq-block__body collapse" id="faq-block-252-1">
                                                <div class="faq-block__body-description" style="padding-top: 8px">
                                                    <p>SMM panels are online stores that offer SMM services of different kinds.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                                        <div class="col-lg-12">
                                    <div class="faq-block__card">
                                        <div class="card" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ">
                                            <div class="faq-block__header collapsed" data-toggle="collapse" data-target="#faq-block-252-2" aria-expanded="false" aria-controls="#faq-block-252-2">
                                                <div class="faq-block__header-title">
                                                    <h4>What SMM services does your panel provide?</h4>
                                                </div>
                                                <div class="faq-block__header-icon">
                                                    <div class="style-text-dark faq-block__icon" style></div>
                                                </div>
                                            </div>
                                            <div class="faq-block__body collapse" id="faq-block-252-2">
                                                <div class="faq-block__body-description" style="padding-top: 8px">
                                                    <p>On our panel, we sell different types of SMM services: likes, followers, views, etc.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                                        <div class="col-lg-12">
                                    <div class="faq-block__card">
                                        <div class="card" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ">
                                            <div class="faq-block__header collapsed" data-toggle="collapse" data-target="#faq-block-252-3" aria-expanded="false" aria-controls="#faq-block-252-3">
                                                <div class="faq-block__header-title">
                                                    <h4>Are SMM services on this panel safe to order?</h4>
                                                </div>
                                                <div class="faq-block__header-icon">
                                                    <div class="style-text-dark faq-block__icon" style></div>
                                                </div>
                                            </div>
                                            <div class="faq-block__body collapse" id="faq-block-252-3">
                                                <div class="faq-block__body-description" style="padding-top: 8px">
                                                    <p>Of course! It's definitely safe to use all our SMM services, you won't lose your accounts.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                                        <div class="col-lg-12">
                                    <div class="faq-block__card">
                                        <div class="card" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ">
                                            <div class="faq-block__header collapsed" data-toggle="collapse" data-target="#faq-block-252-4" aria-expanded="false" aria-controls="#faq-block-252-4">
                                                <div class="faq-block__header-title">
                                                    <h4>Mass orders — how do they work?</h4>
                                                </div>
                                                <div class="faq-block__header-icon">
                                                    <div class="style-text-dark faq-block__icon" style></div>
                                                </div>
                                            </div>
                                            <div class="faq-block__body collapse" id="faq-block-252-4">
                                                <div class="faq-block__body-description" style="padding-top: 8px">
                                                    <p>A mass order is an effective way for users to save time, since it allows to place multiple orders with different links at once.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                                        <div class="col-lg-12">
                                    <div class="faq-block__card">
                                        <div class="card" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ">
                                            <div class="faq-block__header collapsed" data-toggle="collapse" data-target="#faq-block-252-5" aria-expanded="false" aria-controls="#faq-block-252-5">
                                                <div class="faq-block__header-title">
                                                    <h4>How does the Drip-feed feature work?</h4>
                                                </div>
                                                <div class="faq-block__header-icon">
                                                    <div class="style-text-dark faq-block__icon" style></div>
                                                </div>
                                            </div>
                                            <div class="faq-block__body collapse" id="faq-block-252-5">
                                                <div class="faq-block__body-description" style="padding-top: 8px">
                                                    <p>Grow your accounts as fast as you want with the help of Drip-feed. How it works: let's say you want 2000 likes on your post. Instead of getting all 2000 at once, you can get 200 each day for 10 days.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                                </div>
                    </div>
                </div>
            </div>
        
          
          
   

{% include 'footer.twig' %}
