/* =============================================
Author: Abdul Basit
Email:: abdul.basit3183@gmail.com
WhatsApp:: +923102183183
Version: 3.1
============================================= */

/* ====================================================
This File Contains Following Animation KeyFrames


1- rotateAntiClockWise
2- rotateClockWise
3- tossing
4- j
5- k
6- l
7- m
8- wobble-bottom
9- fadeRTL
10- fadeLTR
11- fade-up
12- fadeInDown
13- shake
14- tada
15- heartBeat
16- fly
17- float
18- rotation
19- pulse
20- pulseTwo
21- flip-2-ver-left-1
22- rubberBand
23- flip
24- Shaky
25- LTRScale
26- floatWave
27- floatLeftToRight
28- spin-1
29- water-bubble
30- push-pull(once)
31- clouds-move-forward
32- clouds-move-backward
33- foolishIn
34- foolishOut
35- bounce

============================================= */
@keyframes push-pull {
    50% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5)
    }
}

@-moz-keyframes push-pull {
    50% {
        -moz-transform: scale(0.5);
        transform: scale(0.5)
    }
}

@-webkit-keyframes push-pull {
    50% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5)
    }
}

@-o-keyframes push-pull {
    50% {
        -o-transform: scale(0.5);
        transform: scale(0.5)
    }
}

@keyframes water-bubble {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scaleY(0.95) scaleX(1.05);
    }
    48% {
        transform: scaleY(1.1) scaleX(0.9);
    }
    68% {
        transform: scaleY(0.98) scaleX(1.02);
    }
    80% {
        transform: scaleY(1.02) scaleX(0.98);
    }
    97%,
    100% {
        transform: scale(1);
    }
}

@-moz-keyframes water-bubble {
    0% {
        -moz-transform: scale(1);
    }
    20% {
        -moz-transform: scaleY(0.95) scaleX(1.05);
    }
    48% {
        -moz-transform: scaleY(1.1) scaleX(0.9);
    }
    68% {
        -moz-transform: scaleY(0.98) scaleX(1.02);
    }
    80% {
        -moz-transform: scaleY(1.02) scaleX(0.98);
    }
    97%,
    100% {
        -moz-transform: scale(1);
    }
}

@-webkit-keyframes water-bubble {
    0% {
        -webkit-transform: scale(1);
    }
    20% {
        -webkit-transform: scaleY(0.95) scaleX(1.05);
    }
    48% {
        -webkit-transform: scaleY(1.1) scaleX(0.9);
    }
    68% {
        -webkit-transform: scaleY(0.98) scaleX(1.02);
    }
    80% {
        -webkit-transform: scaleY(1.02) scaleX(0.98);
    }
    97%,
    100% {
        -webkit-transform: scale(1);
    }
}

@-o-keyframes water-bubble {
    0% {
        -o-transform: scale(1);
    }
    20% {
        -o-transform: scaleY(0.95) scaleX(1.05);
    }
    48% {
        -o-transform: scaleY(1.1) scaleX(0.9);
    }
    68% {
        -o-transform: scaleY(0.98) scaleX(1.02);
    }
    80% {
        -o-transform: scaleY(1.02) scaleX(0.98);
    }
    97%,
    100% {
        -o-transform: scale(1);
    }
}

@keyframes LTRScale {
    0% {
        transform: translate(0px, 0px) scaleX(0.66) scaleY(0.66);
    }
    50% {
        transform: translate(50px, -20px) scaleX(1.00) scaleY(1.00);
    }
    100% {
        transform: translate(0px, 0px) scaleX(0.66) scaleY(0.66);
    }
}

@-moz-keyframes LTRScale {
    0% {
        -moz-transform: translate(0px, 0px) scaleX(0.66) scaleY(0.66);
    }
    50% {
        -moz-transform: translate(50px, -20px) scaleX(1.00) scaleY(1.00);
    }
    100% {
        -moz-transform: translate(0px, 0px) scaleX(0.66) scaleY(0.66);
    }
}

@-webkit-keyframes LTRScale {
    0% {
        -webkit-transform: translate(0px, 0px) scaleX(0.66) scaleY(0.66);
    }
    50% {
        -webkit-transform: translate(50px, -20px) scaleX(1.00) scaleY(1.00);
    }
    100% {
        -webkit-transform: translate(0px, 0px) scaleX(0.66) scaleY(0.66);
    }
}

@-o-keyframes LTRScale {
    0% {
        -o-transform: translate(0px, 0px) scaleX(0.66) scaleY(0.66);
    }
    50% {
        -o-transform: translate(50px, -20px) scaleX(1.00) scaleY(1.00);
    }
    100% {
        -o-transform: translate(0px, 0px) scaleX(0.66) scaleY(0.66);
    }
}

@keyframes shaky {
    0% {
        transform: translate(2px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-2deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(3deg);
    }
    30% {
        transform: translate(0px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(2px, 1px) rotate(-2deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(4deg);
    }
    90% {
        transform: translate(2px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@-webkit-keyframes shaky {
    0% {
        -webkit-transform: translate(2px, 1px) rotate(0deg);
    }
    10% {
        -webkit-transform: translate(-1px, -2px) rotate(-2deg);
    }
    20% {
        -webkit-transform: translate(-3px, 0px) rotate(3deg);
    }
    30% {
        -webkit-transform: translate(0px, 2px) rotate(0deg);
    }
    40% {
        -webkit-transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        -webkit-transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        -webkit-transform: translate(2px, 1px) rotate(-2deg);
    }
    80% {
        -webkit-transform: translate(-1px, -1px) rotate(4deg);
    }
    90% {
        -webkit-transform: translate(2px, 2px) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(1px, -2px) rotate(-1deg);
    }
}

@-moz-keyframes shaky {
    0% {
        -moz-transform: translate(2px, 1px) rotate(0deg);
    }
    10% {
        -moz-transform: translate(-1px, -2px) rotate(-2deg);
    }
    20% {
        -moz-transform: translate(-3px, 0px) rotate(3deg);
    }
    30% {
        -moz-transform: translate(0px, 2px) rotate(0deg);
    }
    40% {
        -moz-transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        -moz-transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        -moz-transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        -moz-transform: translate(2px, 1px) rotate(-2deg);
    }
    80% {
        -moz-transform: translate(-1px, -1px) rotate(4deg);
    }
    90% {
        -moz-transform: translate(2px, 2px) rotate(0deg);
    }
    100% {
        -moz-transform: translate(1px, -2px) rotate(-1deg);
    }
}

@-o-keyframes shaky {
    0% {
        -o-transform: translate(2px, 1px) rotate(0deg);
    }
    10% {
        -o-transform: translate(-1px, -2px) rotate(-2deg);
    }
    20% {
        -o-transform: translate(-3px, 0px) rotate(3deg);
    }
    30% {
        -o-transform: translate(0px, 2px) rotate(0deg);
    }
    40% {
        -o-transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        -o-transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        -o-transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        -o-transform: translate(2px, 1px) rotate(-2deg);
    }
    80% {
        -o-transform: translate(-1px, -1px) rotate(4deg);
    }
    90% {
        -o-transform: translate(2px, 2px) rotate(0deg);
    }
    100% {
        -o-transform: translate(1px, -2px) rotate(-1deg);
    }
}

@-webkit-keyframes rubberBand {
    0% {
        -webkit-transform: scaleX(1);
    }
    30% {
        -webkit-transform: scale3d(1.25, .75, 1);
    }
    40% {
        -webkit-transform: scale3d(.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, .85, 1);
    }
    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
    }
    100% {
        -webkit-transform: scaleX(1);
    }
}

@-moz-keyframes rubberBand {
    0% {
        -moz-transform: scaleX(1);
    }
    30% {
        -moz-transform: scale3d(1.25, .75, 1);
    }
    40% {
        -moz-transform: scale3d(.75, 1.25, 1);
    }
    50% {
        -moz-transform: scale3d(1.15, .85, 1);
    }
    65% {
        -moz-transform: scale3d(.95, 1.05, 1);
    }
    75% {
        -moz-transform: scale3d(1.05, .95, 1);
    }
    100% {
        -moz-transform: scaleX(1);
    }
}

@-o-keyframes rubberBand {
    0% {
        -o-transform: scaleX(1);
    }
    30% {
        -o-transform: scale3d(1.25, .75, 1);
    }
    40% {
        -o-transform: scale3d(.75, 1.25, 1);
    }
    50% {
        -o-transform: scale3d(1.15, .85, 1);
    }
    65% {
        -o-transform: scale3d(.95, 1.05, 1);
    }
    75% {
        -o-transform: scale3d(1.05, .95, 1);
    }
    100% {
        -o-transform: scaleX(1);
    }
}

@keyframes rubberBand {
    0% {
        transform: scaleX(1);
    }
    30% {
        transform: scale3d(1.25, .75, 1);
    }
    40% {
        transform: scale3d(.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, .85, 1);
    }
    65% {
        transform: scale3d(.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, .95, 1);
    }
    100% {
        transform: scaleX(1);
    }
}

@-webkit-keyframes flip {
    0% {
        -webkit-transform: perspective(400px) rotateY(-1turn);
        -webkit-animation-timing-function: ease-out;
    }
    40% {
        -webkit-transform: perspective(400px) translateZ(150px) rotateY(-190deg);
        -webkit-animation-timing-function: ease-out;
    }
    50% {
        -webkit-transform: perspective(400px) translateZ(150px) rotateY(-170deg);
        -webkit-animation-timing-function: ease-in;
    }
    80% {
        -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
        -webkit-animation-timing-function: ease-in;
    }
    100% {
        -webkit-transform: perspective(400px);
        -webkit-animation-timing-function: ease-in;
    }
}

@-moz-keyframes flip {
    0% {
        -moz-transform: perspective(400px) rotateY(-1turn);
        -moz-animation-timing-function: ease-out;
    }
    40% {
        -moz-transform: perspective(400px) translateZ(150px) rotateY(-190deg);
        -moz-animation-timing-function: ease-out;
    }
    50% {
        -moz-transform: perspective(400px) translateZ(150px) rotateY(-170deg);
        -moz-animation-timing-function: ease-in;
    }
    80% {
        -moz-transform: perspective(400px) scale3d(.95, .95, .95);
        -moz-animation-timing-function: ease-in;
    }
    100% {
        -moz-transform: perspective(400px);
        -moz-animation-timing-function: ease-in;
    }
}

@-o-keyframes flip {
    0% {
        -o-transform: perspective(400px) rotateY(-1turn);
        -o-animation-timing-function: ease-out;
    }
    40% {
        -o-transform: perspective(400px) translateZ(150px) rotateY(-190deg);
        -o-animation-timing-function: ease-out;
    }
    50% {
        -o-transform: perspective(400px) translateZ(150px) rotateY(-170deg);
        -o-animation-timing-function: ease-in;
    }
    80% {
        -o-transform: perspective(400px) scale3d(.95, .95, .95);
        -o-animation-timing-function: ease-in;
    }
    100% {
        -o-transform: perspective(400px);
        -o-animation-timing-function: ease-in;
    }
}

@keyframes flip {
    0% {
        transform: perspective(400px) rotateY(-1turn);
        animation-timing-function: ease-out;
    }
    40% {
        transform: perspective(400px) translateZ(150px) rotateY(-190deg);
        animation-timing-function: ease-out;
    }
    50% {
        transform: perspective(400px) translateZ(150px) rotateY(-170deg);
        animation-timing-function: ease-in;
    }
    80% {
        transform: perspective(400px) scale3d(.95, .95, .95);
        animation-timing-function: ease-in;
    }
    100% {
        transform: perspective(400px);
        animation-timing-function: ease-in;
    }
}

@-webkit-keyframes flip-2-ver-left-1 {
    0% {
        -webkit-transform: translateX(0) rotateY(0);
        -webkit-transform-origin: 0% 50%;
    }
    100% {
        -webkit-transform: translateX(-100%) rotateY(180deg);
        -webkit-transform-origin: 100% 0%;
    }
}

@-moz-keyframes flip-2-ver-left-1 {
    0% {
        -moz-transform: translateX(0) rotateY(0);
        -moz-transform-origin: 0% 50%;
    }
    100% {
        -moz-transform: translateX(-100%) rotateY(180deg);
        -moz-transform-origin: 100% 0%;
    }
}

@-o-keyframes flip-2-ver-left-1 {
    0% {
        -o-transform: translateX(0) rotateY(0);
        -o-transform-origin: 0% 50%;
    }
    100% {
        -o-transform: translateX(-100%) rotateY(180deg);
        -o-transform-origin: 100% 0%;
    }
}

@keyframes flip-2-ver-left-1 {
    0% {
        transform: translateX(0) rotateY(0);
        transform-origin: 0% 50%;
    }
    100% {
        transform: translateX(-100%) rotateY(180deg);
        transform-origin: 100% 0%;
    }
}

@-webkit-keyframes rotateAntiClockWise {
    from {
        -webkit-transform: rotate(0deg) translateX(40px) rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg) translateX(40px) rotate(360deg);
    }
}

@-moz-keyframes rotateAntiClockWise {
    from {
        -moz-transform: rotate(0deg) translateX(40px) rotate(0deg);
    }
    to {
        -moz-transform: rotate(-360deg) translateX(40px) rotate(360deg);
    }
}

@-o-keyframes rotateAntiClockWise {
    from {
        -o-transform: rotate(0deg) translateX(40px) rotate(0deg);
    }
    to {
        -o-transform: rotate(-360deg) translateX(40px) rotate(360deg);
    }
}

@keyframes rotateAntiClockWise {
    from {
        transform: rotate(0deg) translateX(40px) rotate(0deg);
    }
    to {
        transform: rotate(-360deg) translateX(40px) rotate(360deg);
    }
}

@-webkit-keyframes rotateClockWise {
    from {
        -webkit-transform: rotate(0deg) translateX(40px) rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg) translateX(40px) rotate(-360deg);
    }
}

@-moz-keyframes rotateClockWise {
    from {
        -moz-transform: rotate(0deg) translateX(40px) rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg) translateX(40px) rotate(-360deg);
    }
}

@-o-keyframes rotateClockWise {
    from {
        -o-transform: rotate(0deg) translateX(40px) rotate(0deg);
    }
    to {
        -o-transform: rotate(360deg) translateX(40px) rotate(-360deg);
    }
}

@keyframes rotateClockWise {
    from {
        transform: rotate(0deg) translateX(40px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(40px) rotate(-360deg);
    }
}

@-webkit-keyframes tossing {
    0% {
        -webkit-transform: rotate(-4deg);
    }
    50% {
        -webkit-transform: rotate(4deg);
    }
    100% {
        -webkit-transform: rotate(-4deg);
    }
}

@-moz-keyframes tossing {
    0% {
        -moz-transform: rotate(-4deg);
    }
    50% {
        -moz-transform: rotate(4deg);
    }
    100% {
        -moz-transform: rotate(-4deg);
    }
}

@-o-keyframes tossing {
    0% {
        -o-transform: rotate(-4deg);
    }
    50% {
        -o-transform: rotate(4deg);
    }
    100% {
        -o-transform: rotate(-4deg);
    }
}

@keyframes tossing {
    0% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(4deg);
    }
    100% {
        transform: rotate(-4deg);
    }
}

@-webkit-keyframes j {
    0% {
        -webkit-top: 0;
        -webkit-transform: rotate(0deg)
    }
    45% {
        -webkit-top: 6px;
        -webkit-transform: rotate(145deg)
    }
    75% {
        -webkit-transform: rotate(130deg)
    }
    to {
        -webkit-transform: rotate(135deg)
    }
}

@-moz-keyframes j {
    0% {
        -moz-top: 0;
        -moz-transform: rotate(0deg)
    }
    45% {
        -moz-top: 6px;
        -moz-transform: rotate(145deg)
    }
    75% {
        -moz-transform: rotate(130deg)
    }
    to {
        -moz-transform: rotate(135deg)
    }
}

@-o-keyframes j {
    0% {
        -o-top: 0;
        -o-transform: rotate(0deg)
    }
    45% {
        -o-top: 6px;
        -o-transform: rotate(145deg)
    }
    75% {
        -o-transform: rotate(130deg)
    }
    to {
        -o-transform: rotate(135deg)
    }
}

@keyframes j {
    0% {
        top: 0;
        transform: rotate(0deg)
    }
    45% {
        top: 6px;
        transform: rotate(145deg)
    }
    75% {
        transform: rotate(130deg)
    }
    to {
        transform: rotate(135deg)
    }
}

@-webkit-keyframes k {
    0% {
        -webkit-top: 6px;
        -webkit-transform: rotate(135deg)
    }
    45% {
        -webkit-transform: rotate(-10deg)
    }
    75% {
        -webkit-transform: rotate(5deg)
    }
    to {
        -webkit-top: 0;
        -webkit-transform: rotate(0)
    }
}

@-moz-keyframes k {
    0% {
        -moz-top: 6px;
        -moz-transform: rotate(135deg)
    }
    45% {
        -moz-transform: rotate(-10deg)
    }
    75% {
        -moz-transform: rotate(5deg)
    }
    to {
        -moz-top: 0;
        -moz-transform: rotate(0)
    }
}

@-o-keyframes k {
    0% {
        -o-top: 6px;
        -o-transform: rotate(135deg)
    }
    45% {
        -o-transform: rotate(-10deg)
    }
    75% {
        -o-transform: rotate(5deg)
    }
    to {
        -o-top: 0;
        -o-transform: rotate(0)
    }
}

@keyframes k {
    0% {
        top: 6px;
        transform: rotate(135deg)
    }
    45% {
        transform: rotate(-10deg)
    }
    75% {
        transform: rotate(5deg)
    }
    to {
        top: 0;
        transform: rotate(0)
    }
}

@-webkit-keyframes l {
    0% {
        -webkit-bottom: 0;
        -webkit-transform: rotate(0deg)
    }
    45% {
        -webkit-bottom: 8px;
        -webkit-transform: rotate(-145deg)
    }
    75% {
        -webkit-transform: rotate(-130deg)
    }
    to {
        -webkit-transform: rotate(-135deg)
    }
}

@-moz-keyframes l {
    0% {
        -moz-bottom: 0;
        -moz-transform: rotate(0deg)
    }
    45% {
        -moz-bottom: 8px;
        -moz-transform: rotate(-145deg)
    }
    75% {
        -moz-transform: rotate(-130deg)
    }
    to {
        -moz-transform: rotate(-135deg)
    }
}

@-o-keyframes l {
    0% {
        -o-bottom: 0;
        -o-transform: rotate(0deg)
    }
    45% {
        -o-bottom: 8px;
        -o-transform: rotate(-145deg)
    }
    75% {
        -o-transform: rotate(-130deg)
    }
    to {
        -o-transform: rotate(-135deg)
    }
}

@keyframes l {
    0% {
        bottom: 0;
        transform: rotate(0deg)
    }
    45% {
        bottom: 8px;
        transform: rotate(-145deg)
    }
    75% {
        transform: rotate(-130deg)
    }
    to {
        transform: rotate(-135deg)
    }
}

@-webkit-keyframes m {
    0% {
        -webkit-bottom: 6px;
        -webkit-transform: rotate(-135deg)
    }
    45% {
        -webkit-transform: rotate(10deg)
    }
    75% {
        -webkit-transform: rotate(-5deg)
    }
    to {
        -webkit-bottom: 0;
        -webkit-transform: rotate(0)
    }
}

@-moz-keyframes m {
    0% {
        -moz-bottom: 6px;
        -moz-transform: rotate(-135deg)
    }
    45% {
        -moz-transform: rotate(10deg)
    }
    75% {
        -moz-transform: rotate(-5deg)
    }
    to {
        -moz-bottom: 0;
        -moz-transform: rotate(0)
    }
}

@-o-keyframes m {
    0% {
        -o-bottom: 6px;
        -o-transform: rotate(-135deg)
    }
    45% {
        -o-transform: rotate(10deg)
    }
    75% {
        -o-transform: rotate(-5deg)
    }
    to {
        -o-bottom: 0;
        -o-transform: rotate(0)
    }
}

@keyframes m {
    0% {
        bottom: 6px;
        transform: rotate(-135deg)
    }
    45% {
        transform: rotate(10deg)
    }
    75% {
        transform: rotate(-5deg)
    }
    to {
        bottom: 0;
        transform: rotate(0)
    }
}

@-webkit-keyframes wobble-bottom {
    16.65% {
        -webkit-transform: skew(-12deg);
    }
    33.3% {
        -webkit-transform: skew(10deg);
    }
    49.95% {
        -webkit-transform: skew(-6deg);
    }
    66.6% {
        -webkit-transform: skew(4deg);
    }
    83.25% {
        -webkit-transform: skew(-2deg);
    }
    100% {
        -webkit-transform: skew(0);
    }
}

@-moz-keyframes wobble-bottom {
    16.65% {
        -moz-transform: skew(-12deg);
    }
    33.3% {
        -moz-transform: skew(10deg);
    }
    49.95% {
        -moz-transform: skew(-6deg);
    }
    66.6% {
        -moz-transform: skew(4deg);
    }
    83.25% {
        -moz-transform: skew(-2deg);
    }
    100% {
        -moz-transform: skew(0);
    }
}

@-o-keyframes wobble-bottom {
    16.65% {
        -o-transform: skew(-12deg);
    }
    33.3% {
        -o-transform: skew(10deg);
    }
    49.95% {
        -o-transform: skew(-6deg);
    }
    66.6% {
        -o-transform: skew(4deg);
    }
    83.25% {
        -o-transform: skew(-2deg);
    }
    100% {
        -o-transform: skew(0);
    }
}

@keyframes wobble-bottom {
    16.65% {
        transform: skew(-12deg);
    }
    33.3% {
        transform: skew(10deg);
    }
    49.95% {
        transform: skew(-6deg);
    }
    66.6% {
        transform: skew(4deg);
    }
    83.25% {
        transform: skew(-2deg);
    }
    100% {
        transform: skew(0);
    }
}

@-webkit-keyframes fadeRTL {
    0% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 0;
    }
    50% {
        -webkit-transform: translate(-10px, -20px);
        -webkit-opacity: 1;
    }
    100% {
        -webkit-transform: translate(-10px, -20px);
        -webkit-opacity: 0;
    }
}

@-moz-keyframes fadeRTL {
    0% {
        -moz-transform: translateY(0);
        -moz-opacity: 0;
    }
    50% {
        -moz-transform: translate(-10px, -20px);
        -moz-opacity: 1;
    }
    100% {
        -moz-transform: translate(-10px, -20px);
        -moz-opacity: 0;
    }
}

@-o-keyframes fadeRTL {
    0% {
        -o-transform: translateY(0);
        -o-opacity: 0;
    }
    50% {
        -o-transform: translate(-10px, -20px);
        -o-opacity: 1;
    }
    100% {
        -o-transform: translate(-10px, -20px);
        -o-opacity: 0;
    }
}

@keyframes fadeRTL {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        transform: translate(-10px, -20px);
        opacity: 1;
    }
    100% {
        transform: translate(-10px, -20px);
        opacity: 0;
    }
}

@-webkit-keyframes fadeLTR {
    0% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 0;
    }
    50% {
        -webkit-transform: translate(10px, -20px);
        -webkit-opacity: 1;
    }
    100% {
        -webkit-transform: translate(10px, -20px);
        -webkit-opacity: 0;
    }
}

@-moz-keyframes fadeLTR {
    0% {
        -moz-transform: translateY(0);
        -moz-opacity: 0;
    }
    50% {
        -moz-transform: translate(10px, -20px);
        -moz-opacity: 1;
    }
    100% {
        -moz-transform: translate(10px, -20px);
        -moz-opacity: 0;
    }
}

@-o-keyframes fadeLTR {
    0% {
        -o-transform: translateY(0);
        -o-opacity: 0;
    }
    50% {
        -o-transform: translate(10px, -20px);
        -o-opacity: 1;
    }
    100% {
        -o-transform: translate(10px, -20px);
        -o-opacity: 0;
    }
}

@keyframes fadeLTR {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        transform: translate(10px, -20px);
        opacity: 1;
    }
    100% {
        transform: translate(10px, -20px);
        opacity: 0;
    }
}

@-webkit-keyframes fade-up {
    0% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 0;
    }
    50% {
        -webkit-transform: translate(0, -20px);
        -webkit-opacity: 1;
    }
    100% {
        -webkit-transform: translate(0, -20px);
        -webkit-opacity: 0;
    }
}

@-moz-keyframes fade-up {
    0% {
        -moz-transform: translateY(0);
        -moz-opacity: 0;
    }
    50% {
        -moz-transform: translate(0, -20px);
        -moz-opacity: 1;
    }
    100% {
        -moz-transform: translate(0, -20px);
        -moz-opacity: 0;
    }
}

@-o-keyframes fade-up {
    0% {
        -o-transform: translateY(0);
        -o-opacity: 0;
    }
    50% {
        -o-transform: translate(0, -20px);
        -o--o-opacity: 1;
    }
    100% {
        -o-transform: translate(0, -20px);
        -o-opacity: 0;
    }
}

@keyframes fade-up {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        transform: translate(0, -20px);
        opacity: 1;
    }
    100% {
        transform: translate(0, -20px);
        opacity: 0;
    }
}

@-webkit-keyframes fadeInDown {
    0% {
        -webkit-opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
    }
    100% {
        -webkit-opacity: 1;
        -webkit-transform: none;
    }
}

@-moz-keyframes fadeInDown {
    0% {
        -moz-opacity: 0;
        -moz-transform: translate3d(0, -100%, 0);
    }
    100% {
        -moz-opacity: 1;
        -moz-transform: none;
    }
}

@-o-keyframes fadeInDown {
    0% {
        -o-opacity: 0;
        -o-transform: translate3d(0, -100%, 0);
    }
    100% {
        -o-opacity: 1;
        -o-transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@-webkit-keyframes shake {
    0% {
        -webkit-transform: translate(0px, 0px);
    }
    10% {
        -webkit-transform: translate(-10px, 0px);
    }
    20% {
        -webkit-transform: translate(10px, 0px);
    }
    30% {
        -webkit-transform: translate(-10px, 0px);
    }
    40% {
        -webkit-transform: translate(10px, 0px);
    }
    50% {
        -webkit-transform: translate(-10px, 0px);
    }
    60% {
        -webkit-transform: translate(10px, 0px);
    }
    70% {
        -webkit-transform: translate(-10px, 0px);
    }
    80% {
        -webkit-transform: translate(10px, 0px);
    }
    90% {
        -webkit-transform: translate(-10px, 0px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
    }
}

@-moz-keyframes shake {
    0% {
        -moz-transform: translate(0px, 0px);
    }
    10% {
        -moz-transform: translate(-10px, 0px);
    }
    20% {
        -moz-transform: translate(10px, 0px);
    }
    30% {
        -moz-transform: translate(-10px, 0px);
    }
    40% {
        -moz-transform: translate(10px, 0px);
    }
    50% {
        -moz-transform: translate(-10px, 0px);
    }
    60% {
        -moz-transform: translate(10px, 0px);
    }
    70% {
        -moz-transform: translate(-10px, 0px);
    }
    80% {
        -moz-transform: translate(10px, 0px);
    }
    90% {
        -moz-transform: translate(-10px, 0px);
    }
    100% {
        -moz-transform: translate(0px, 0px);
    }
}

@-o-keyframes shake {
    0% {
        -o-transform: translate(0px, 0px);
    }
    10% {
        -o-transform: translate(-10px, 0px);
    }
    20% {
        -o-transform: translate(10px, 0px);
    }
    30% {
        -o-transform: translate(-10px, 0px);
    }
    40% {
        -o-transform: translate(10px, 0px);
    }
    50% {
        -o-transform: translate(-10px, 0px);
    }
    60% {
        -o-transform: translate(10px, 0px);
    }
    70% {
        -o-transform: translate(-10px, 0px);
    }
    80% {
        -o-transform: translate(10px, 0px);
    }
    90% {
        -o-transform: translate(-10px, 0px);
    }
    100% {
        -o-transform: translate(0px, 0px);
    }
}

@keyframes shake {
    0% {
        transform: translate(0px, 0px);
    }
    10% {
        transform: translate(-10px, 0px);
    }
    20% {
        transform: translate(10px, 0px);
    }
    30% {
        transform: translate(-10px, 0px);
    }
    40% {
        transform: translate(10px, 0px);
    }
    50% {
        transform: translate(-10px, 0px);
    }
    60% {
        transform: translate(10px, 0px);
    }
    70% {
        transform: translate(-10px, 0px);
    }
    80% {
        transform: translate(10px, 0px);
    }
    90% {
        transform: translate(-10px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@-webkit-keyframes tada {
    0% {
        -webkit-transform: rotate(0deg) scaleX(1.00) scaleY(1.00);
    }
    10% {
        -webkit-transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    20% {
        -webkit-transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    30% {
        -webkit-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    40% {
        -webkit-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    50% {
        -webkit-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    60% {
        -webkit-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    70% {
        -webkit-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    80% {
        -webkit-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    90% {
        -webkit-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    100% {
        -webkit-transform: rotate(0deg) scaleX(1.20) scaleY(1.20);
    }
}

@-moz-keyframes tada {
    0% {
        -moz-transform: rotate(0deg) scaleX(1.00) scaleY(1.00);
    }
    10% {
        -moz-transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    20% {
        -moz-transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    30% {
        -moz-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    40% {
        -moz-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    50% {
        -moz-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    60% {
        -moz-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    70% {
        -moz-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    80% {
        -moz-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    90% {
        -moz-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    100% {
        -moz-transform: rotate(0deg) scaleX(1.20) scaleY(1.20);
    }
}

@-o-keyframes tada {
    0% {
        -o-transform: rotate(0deg) scaleX(1.00) scaleY(1.00);
    }
    10% {
        -o-transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    20% {
        -o-transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    30% {
        -o-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    40% {
        -o-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    50% {
        -o-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    60% {
        -o-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    70% {
        -o-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    80% {
        -o-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    90% {
        -o-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    100% {
        -o-transform: rotate(0deg) scaleX(1.20) scaleY(1.20);
    }
}

@keyframes tada {
    0% {
        transform: rotate(0deg) scaleX(1.00) scaleY(1.00);
    }
    10% {
        transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    20% {
        transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    30% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    40% {
        transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    50% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    60% {
        transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    70% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    80% {
        transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    90% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    100% {
        transform: rotate(0deg) scaleX(1.20) scaleY(1.20);
    }
}

@-webkit-keyframes heartBeat {
    0% {
        -webkit-transform: scale(1);
    }
    25% {
        -webkit-transform: scale(1.1);
    }
    40% {
        -webkit-transform: scale(1);
    }
    60% {
        -webkit-transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes heartBeat {
    0% {
        -moz-transform: scale(1);
    }
    25% {
        -moz-transform: scale(1.1);
    }
    40% {
        -moz-transform: scale(1);
    }
    60% {
        -moz-transform: scale(1.1);
    }
    100% {
        -moz-transform: scale(1);
    }
}

@-o-keyframes heartBeat {
    0% {
        -o-transform: scale(1);
    }
    25% {
        -o-transform: scale(1.1);
    }
    40% {
        -o-transform: scale(1);
    }
    60% {
        -o-transform: scale(1.1);
    }
    100% {
        -o-transform: scale(1);
    }
}

@keyframes heartBeat {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
    }
    40% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes fly {
    0% {
        -webkit-transform: translate(0px, 0px);
    }
    25% {
        -webkit-transform: translate(10px, 10px);
    }
    40% {
        -webkit-transform: translate(-10px, 20px);
    }
    60% {
        -webkit-transform: translate(10px, 30px);
    }
    100% {
        -webkit-transform: translate(-10px, 40px);
    }
}

@-moz-keyframes fly {
    0% {
        -moz-transform: translate(0px, 0px);
    }
    25% {
        -moz-transform: translate(10px, 10px);
    }
    40% {
        -moz-transform: translate(-10px, 20px);
    }
    60% {
        -moz-transform: translate(10px, 30px);
    }
    100% {
        -moz-transform: translate(-10px, 40px);
    }
}

@-o-keyframes fly {
    0% {
        -o-transform: translate(0px, 0px);
    }
    25% {
        -o-transform: translate(10px, 10px);
    }
    40% {
        -o-transform: translate(-10px, 20px);
    }
    60% {
        -o-transform: translate(10px, 30px);
    }
    100% {
        -o-transform: translate(-10px, 40px);
    }
}

@keyframes fly {
    0% {
        transform: translate(0px, 0px);
    }
    25% {
        transform: translate(10px, 10px);
    }
    40% {
        transform: translate(-10px, 20px);
    }
    60% {
        transform: translate(10px, 30px);
    }
    100% {
        transform: translate(-10px, 40px);
    }
}

@-webkit-keyframes float {
    0%,
    50% {
        -webkit-transform: translateY(0);
        -webkit-animation-timing-function: cubic-bezier(.2, .25, .55, 1)
    }
    25% {
        -webkit-transform: translateY(-7px);
        -webkit-animation-timing-function: cubic-bezier(.45, 0, .8, .75)
    }
    75% {
        -webkit-transform: translateY(7px);
        -webkit-animation-timing-function: cubic-bezier(.45, 0, .8, .75)
    }
    to {
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes float {
    0%,
    50% {
        -moz-transform: translateY(0);
        -moz-animation-timing-function: cubic-bezier(.2, .25, .55, 1)
    }
    25% {
        -moz-transform: translateY(-7px);
        -moz-animation-timing-function: cubic-bezier(.45, 0, .8, .75)
    }
    75% {
        -moz-transform: translateY(7px);
        -moz-animation-timing-function: cubic-bezier(.45, 0, .8, .75)
    }
    to {
        -moz-transform: translateY(0)
    }
}

@-o-keyframes float {
    0%,
    50% {
        -o-transform: translateY(0);
        -o-animation-timing-function: cubic-bezier(.2, .25, .55, 1)
    }
    25% {
        -o-transform: translateY(-7px);
        -o-animation-timing-function: cubic-bezier(.45, 0, .8, .75)
    }
    75% {
        -o-transform: translateY(7px);
        -o-animation-timing-function: cubic-bezier(.45, 0, .8, .75)
    }
    to {
        -o-transform: translateY(0)
    }
}

@keyframes float {
    0%,
    50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(.2, .25, .55, 1)
    }
    25% {
        transform: translateY(-7px);
        animation-timing-function: cubic-bezier(.45, 0, .8, .75)
    }
    75% {
        transform: translateY(7px);
        animation-timing-function: cubic-bezier(.45, 0, .8, .75)
    }
    to {
        transform: translateY(0)
    }
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(359deg);
    }
}

@-o-keyframes rotation {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(359deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@-o-keyframes pulse {
    0% {
        -o-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -o-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -o-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@-webkit-keyframes pulseTwo {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@-moz-keyframes pulseTwo {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@-o-keyframes pulseTwo {
    0% {
        -o-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -o-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -o-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulseTwo {
    0% {
        box-shadow: 0 0 0 0 rgb(86, 180, 177, 0.2);
    }
    70% {
        box-shadow: 0 0 0 10px rgb(86, 180, 177, 0.2);
    }
    100% {
        box-shadow: 0 0 0 0 rgb(86, 180, 177, 0.2);
    }
}

@-webkit-keyframes floatWave {
    0%,
    100% {
        -webkit-transform: translate3d(0, -25px, 0);
    }
    50% {
        -webkit-transform: translate3d(0, 5px, 0);
    }
}

@-moz-keyframes floatWave {
    0%,
    100% {
        -moz-transform: translate3d(0, -25px, 0);
    }
    50% {
        -moz-transform: translate3d(0, 5px, 0);
    }
}

@-o-keyframes floatWave {
    0%,
    100% {
        -o-transform: translate3d(0, -25px, 0);
    }
    50% {
        -o-transform: translate3d(0, 5px, 0);
    }
}

@keyframes floatWave {
    0%,
    100% {
        transform: translate3d(0, -25px, 0);
    }
    50% {
        transform: translate3d(0, 5px, 0);
    }
}

@-webkit-keyframes floatLeftToRight {
    0% {
        -webkit-transform: translateX(0);
    }
    50% {
        -webkit-transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes floatLeftToRight {
    0% {
        -moz-transform: translateX(0);
    }
    50% {
        -moz-transform: translateX(-20px);
    }
    100% {
        -moz-transform: translateX(0);
    }
}

@-o-keyframes floatLeftToRight {
    0% {
        -o-transform: translateX(0);
    }
    50% {
        -o-transform: translateX(-20px);
    }
    100% {
        -o-transform: translateX(0);
    }
}

@keyframes floatLeftToRight {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0);
    }
}

@-webkit-keyframes spin-1 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes spin-1 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes spin-1 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes spin-1 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes clouds-move-forward {
    0% {
        -webkit-background-position-x: 0;
    }
    50% {
        -webkit-background-position-x: 2900px;
    }
    100% {
        -webkit-background-position-x: 0;
    }
}

@-moz-keyframes clouds-move-forward {
    0% {
        -moz-background-position-x: 0;
    }
    50% {
        -moz-background-position-x: 2900px;
    }
    100% {
        -moz-background-position-x: 0;
    }
}

@-o-keyframes clouds-move-forward {
    0% {
        -o-background-position-x: 0;
    }
    50% {
        -o-background-position-x: 2900px;
    }
    100% {
        -o-background-position-x: 0;
    }
}

@keyframes clouds-move-forward {
    0% {
        background-position-x: 0;
    }
    50% {
        background-position-x: 2900px;
    }
    100% {
        background-position-x: 0;
    }
}

@-webkit-keyframes clouds-move-backward {
    0% {
        -webkit-background-position-x: 0;
    }
    50% {
        -webkit-background-position-x: -2900px;
    }
    100% {
        -webkit-background-position-x: 0;
    }
}

@-moz-keyframes clouds-move-backward {
    0% {
        -moz-background-position-x: 0;
    }
    50% {
        -moz-background-position-x: -2900px;
    }
    100% {
        -moz-background-position-x: 0;
    }
}

@-o-keyframes clouds-move-backward {
    0% {
        -o-background-position-x: 0;
    }
    50% {
        -o-background-position-x: -2900px;
    }
    100% {
        -o-background-position-x: 0;
    }
}

@keyframes clouds-move-backward {
    0% {
        background-position-x: 0;
    }
    50% {
        background-position-x: -2900px;
    }
    100% {
        background-position-x: 0;
    }
}
@-webkit-keyframes foolishIn {
 0% {
  opacity:0;
  -webkit-transform-origin:50% 50%;
  transform-origin:50% 50%;
  -webkit-transform:scale(0) rotate(1turn);
  transform:scale(0) rotate(1turn)
 }
 20% {
  opacity:1;
  -webkit-transform-origin:0 100%;
  transform-origin:0 100%;
  -webkit-transform:scale(.5) rotate(0deg);
  transform:scale(.5) rotate(0deg)
 }
 40% {
  opacity:1;
  -webkit-transform-origin:100% 100%;
  transform-origin:100% 100%;
  -webkit-transform:scale(.5) rotate(0deg);
  transform:scale(.5) rotate(0deg)
 }
 60% {
  opacity:1;
  -webkit-transform-origin:0;
  transform-origin:0;
  -webkit-transform:scale(.5) rotate(0deg);
  transform:scale(.5) rotate(0deg)
 }
 80% {
  opacity:1;
  -webkit-transform-origin:0 0;
  transform-origin:0 0;
  -webkit-transform:scale(.5) rotate(0deg);
  transform:scale(.5) rotate(0deg)
 }
 to {
  opacity:1;
  -webkit-transform-origin:50% 50%;
  transform-origin:50% 50%;
  -webkit-transform:scale(1) rotate(0deg);
  transform:scale(1) rotate(0deg)
 }
}
@keyframes foolishIn {
 0% {
  opacity:0;
  -webkit-transform-origin:50% 50%;
  transform-origin:50% 50%;
  -webkit-transform:scale(0) rotate(1turn);
  transform:scale(0) rotate(1turn)
 }
 20% {
  opacity:1;
  -webkit-transform-origin:0 100%;
  transform-origin:0 100%;
  -webkit-transform:scale(.5) rotate(0deg);
  transform:scale(.5) rotate(0deg)
 }
 40% {
  opacity:1;
  -webkit-transform-origin:100% 100%;
  transform-origin:100% 100%;
  -webkit-transform:scale(.5) rotate(0deg);
  transform:scale(.5) rotate(0deg)
 }
 60% {
  opacity:1;
  -webkit-transform-origin:0;
  transform-origin:0;
  -webkit-transform:scale(.5) rotate(0deg);
  transform:scale(.5) rotate(0deg)
 }
 80% {
  opacity:1;
  -webkit-transform-origin:0 0;
  transform-origin:0 0;
  -webkit-transform:scale(.5) rotate(0deg);
  transform:scale(.5) rotate(0deg)
 }
 to {
  opacity:1;
  -webkit-transform-origin:50% 50%;
  transform-origin:50% 50%;
  -webkit-transform:scale(1) rotate(0deg);
  transform:scale(1) rotate(0deg)
 }
}
@-webkit-keyframes foolishOut {
 0% {
  opacity:1;
  -webkit-transform-origin:50% 50%;
  transform-origin:50% 50%;
  -webkit-transform:scale(1) rotate(1turn);
  transform:scale(1) rotate(1turn)
 }
 20% {
  opacity:1;
  -webkit-transform-origin:0 0;
  transform-origin:0 0;
  -webkit-transform:scale(.5) rotate(0deg);
  transform:scale(.5) rotate(0deg)
 }
 40% {
  opacity:1;
  -webkit-transform-origin:100% 0;
  transform-origin:100% 0;
  -webkit-transform:scale(.5) rotate(0deg);
  transform:scale(.5) rotate(0deg)
 }
 60% {
  opacity:1;
  -webkit-transform-origin:0;
  transform-origin:0;
  -webkit-transform:scale(.5) rotate(0deg);
  transform:scale(.5) rotate(0deg)
 }
 80% {
  opacity:1;
  -webkit-transform-origin:0 100%;
  transform-origin:0 100%;
  -webkit-transform:scale(.5) rotate(0deg);
  transform:scale(.5) rotate(0deg)
 }
 to {
  opacity:0;
  -webkit-transform-origin:50% 50%;
  transform-origin:50% 50%;
  -webkit-transform:scale(0) rotate(0deg);
  transform:scale(0) rotate(0deg)
 }
}
@keyframes foolishOut {
 0% {
  opacity:1;
  -webkit-transform-origin:50% 50%;
  transform-origin:50% 50%;
  -webkit-transform:scale(1) rotate(1turn);
  transform:scale(1) rotate(1turn)
 }
 20% {
  opacity:1;
  -webkit-transform-origin:0 0;
  transform-origin:0 0;
  -webkit-transform:scale(.5) rotate(0deg);
  transform:scale(.5) rotate(0deg)
 }
 40% {
  opacity:1;
  -webkit-transform-origin:100% 0;
  transform-origin:100% 0;
  -webkit-transform:scale(.5) rotate(0deg);
  transform:scale(.5) rotate(0deg)
 }
 60% {
  opacity:1;
  -webkit-transform-origin:0;
  transform-origin:0;
  -webkit-transform:scale(.5) rotate(0deg);
  transform:scale(.5) rotate(0deg)
 }
 80% {
  opacity:1;
  -webkit-transform-origin:0 100%;
  transform-origin:0 100%;
  -webkit-transform:scale(.5) rotate(0deg);
  transform:scale(.5) rotate(0deg)
 }
 to {
  opacity:0;
  -webkit-transform-origin:50% 50%;
  transform-origin:50% 50%;
  -webkit-transform:scale(0) rotate(0deg);
  transform:scale(0) rotate(0deg)
 }
}
@-webkit-keyframes bounce {
    20%,
    53%,
    80%,
    from,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0)
    }
    70% {
        -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0)
    }
}

@keyframes bounce {
    20%,
    53%,
    80%,
    from,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0)
    }
    70% {
        -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0)
    }
}

/*========================================
	AB
========================================*/