{% include 'header.twig' %}

<div class="wrapper-content">
    <div class="wrapper-content__header">
          </div>
    <div class="wrapper-content__body">
      <!-- Main variables *content* -->
      <div id="block_337">
	<div class="block-signin ">
		<div class="bg"></div>
		<div class="divider-top"></div>
		<div class="divider-bottom"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="block-signin__content">
						<div class="block-signin__title style-text-signin"><h1 class="text-center"><span style="text-align: CENTER"><span style="color: #ffffff">The best SMM panel. Super cheap &amp; super fast!</span></span></h1></div>
						<div class="block-signin__description style-text-signin"><p class="text-center"><span style="color: #ffffff"><span style="text-align: CENTER">Step up your social media game using various SMM services that we offer.</span></span></p></div>
					</div>
				</div>
			</div>
			<div class="row block-signin__aligment">
				<div class="col-lg-8">
					<div class="block-signin__card component_card">
						<div class="card">
	{% if errorText %}
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ errorText }}
        </div>
      {% endif %}
      {% if successText %}
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ successText }}
        </div>
      {% endif %}						
														<form method="post" action="/" class="component_form_group component_checkbox_remember_me">
								<div class="form-row">
									<div class="custom-col">
										<div class="form-group ">
											<label>Username</label>
											<input class="form-control" type="text" name="username"/>
										</div>
									</div>
									<div class="custom-col">
										<div class="form-group ">
											<label>Password</label>
											<input class="form-control" type="password" name="password"/>
										</div>
									</div>
								</div>
								<div class="form-row">
									<div class="custom-col">
										<div class="form-group ">
											<div class="form-group__checkbox">
												<label class="form-group__checkbox-label">
													<input type="checkbox" name="remember" id="block_337_remember_me">
													<span class="checkmark"></span>
												</label>
												<label class="form-group__label-title" for="block_337_remember_me">Remember me</label>
											</div>
										</div>
									</div>
									<div class="custom-col">
										<div class="form-group ">
																							<div class="sign-in__forgot">
													<a href="/resetpassword">Forgot password?</a>
												</div>
																					</div>
									</div>
								</div>
								<div class="form-row">
									<div class="custom-col">
										<div class="form-group d-flex component_button_submit ">
											<button class="btn btn-primary" type="submit">Sign in</button>
										</div>
									</div>
								</div>
								<div class="form-row">
									<div class="custom-col">
										<div class="form-group d-flex justify-content-center ">
											<div class="block-signin__remember">
												<p>Already have an account?</p>
												<a class="block-signin__link" href="/signup">Sign up</a>
											</div>
										</div>
									</div>
								</div>
								<input type="hidden" name="_csrf" value="89rYBDLa0Yv5KCw8EEf2iDhAyDrGJNTvpqfLno0EbKDBi5dte-L8ztRKZWp3JprFW22ZdKkWmJ7o847V42M_zA==">
															</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<div id="block_351">
	<div class="header-with-text ">
		<div class="bg"></div>
		<div class="divider-top"></div>
		<div class="divider-bottom"></div>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="text-block__title style-header-text">
						<h2 class="text-center"><span style="text-align: CENTER">Why choose us?</span></h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="text-block__description style-header-text">
						<p class="text-center">Learn what makes our panel stand out on the market.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="block_341">
	<div class="block-features ">
		<div class="bg"></div>
		<div class="divider-top"></div>
		<div class="divider-bottom"></div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 block-features__cards">
					<div class="row">
													<div class="col-md-6 style-features-card">
                                <div class="card features-card" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ">
                                    <div class="block-features__card">
                                        <div class="block-features__card-icon" style="margin-bottom: 10px;
                                                 height: 80px;                                                  width: 80px;                                                                                                                                                                                                                                                                                                                                                 ">
                                            <span class="feature-block__icon style-text-primary fas fa-star-shooting" style="
                                                font-size: 24px;
                                                width: 24px;
                                                height: 24px;
                                                transform: rotate(0deg);
                                                color: #14ddd7;
                                                text-shadow: 0 8px 16px rgba(20, 221, 215, 0.32);
                                                border-radius: 0px;
                                                background: transparent;
                                                padding: 0px;
                                                "></span>
                                        </div>
                                        <div class="block-features__card-content">
                                                                                            <div class="card-content__head style-text-features-title" style="margin-bottom: 10px; padding-left: 0px; padding-right: 0px;">
                                                    <p><strong style="font-weight: bold">Superb quality</strong></p>
                                                </div>
                                                                                                                                        <div class="card-content__desc style-text-features-desc" style="padding-left: 0px; padding-right: 0px;">
                                                    <p>The best SMM services you can find on the market.</p>
                                                </div>
                                                                                    </div>
                                    </div>
                                </div>
							</div>
													<div class="col-md-6 style-features-card">
                                <div class="card features-card" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ">
                                    <div class="block-features__card">
                                        <div class="block-features__card-icon" style="margin-bottom: 10px;
                                                 height: 80px;                                                  width: 80px;                                                                                                                                                                                                                                                                                                                                                 ">
                                            <span class="feature-block__icon style-text-primary fas fa-money-bill-wave" style="
                                                font-size: 24px;
                                                width: 24px;
                                                height: 24px;
                                                transform: rotate(0deg);
                                                color: #1a87ff;
                                                text-shadow: 0 8px 16px rgba(26, 135, 255, 0.32);
                                                border-radius: 0px;
                                                background: transparent;
                                                padding: 0px;
                                                "></span>
                                        </div>
                                        <div class="block-features__card-content">
                                                                                            <div class="card-content__head style-text-features-title" style="margin-bottom: 10px; padding-left: 0px; padding-right: 0px;">
                                                    <p><strong style="font-weight: bold">Different payment options</strong></p>
                                                </div>
                                                                                                                                        <div class="card-content__desc style-text-features-desc" style="padding-left: 0px; padding-right: 0px;">
                                                    <p>You can add funds via a payment option you prefer.</p>
                                                </div>
                                                                                    </div>
                                    </div>
                                </div>
							</div>
													<div class="col-md-6 style-features-card">
                                <div class="card features-card" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ">
                                    <div class="block-features__card">
                                        <div class="block-features__card-icon" style="margin-bottom: 10px;
                                                 height: 80px;                                                  width: 80px;                                                                                                                                                                                                                                                                                                                                                 ">
                                            <span class="feature-block__icon style-text-primary fas fa-hands-usd" style="
                                                font-size: 24px;
                                                width: 24px;
                                                height: 24px;
                                                transform: rotate(0deg);
                                                color: #ffc157;
                                                text-shadow: 0 8px 16px rgba(255, 193, 87, 0.32);
                                                border-radius: 0px;
                                                background: transparent;
                                                padding: 0px;
                                                "></span>
                                        </div>
                                        <div class="block-features__card-content">
                                                                                            <div class="card-content__head style-text-features-title" style="margin-bottom: 10px; padding-left: 0px; padding-right: 0px;">
                                                    <p><strong style="font-weight: bold">Extra affordable</strong></p>
                                                </div>
                                                                                                                                        <div class="card-content__desc style-text-features-desc" style="padding-left: 0px; padding-right: 0px;">
                                                    <p>All SMM services on our panel are extra cheap.</p>
                                                </div>
                                                                                    </div>
                                    </div>
                                </div>
							</div>
													<div class="col-md-6 style-features-card">
                                <div class="card features-card" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ">
                                    <div class="block-features__card">
                                        <div class="block-features__card-icon" style="margin-bottom: 10px;
                                                 height: 80px;                                                  width: 80px;                                                                                                                                                                                                                                                                                                                                                 ">
                                            <span class="feature-block__icon style-text-primary fas fa-shipping-fast" style="
                                                font-size: 24px;
                                                width: 24px;
                                                height: 24px;
                                                transform: rotate(0deg);
                                                color: #ff4587;
                                                text-shadow: 0 8px 16px rgba(255, 69, 135, 0.32);
                                                border-radius: 0px;
                                                background: transparent;
                                                padding: 0px;
                                                "></span>
                                        </div>
                                        <div class="block-features__card-content">
                                                                                            <div class="card-content__head style-text-features-title" style="margin-bottom: 10px; padding-left: 0px; padding-right: 0px;">
                                                    <p><strong style="font-weight: bold">Delivered quickly</strong></p>
                                                </div>
                                                                                                                                        <div class="card-content__desc style-text-features-desc" style="padding-left: 0px; padding-right: 0px;">
                                                    <p>You will be amazed at how speedy our order delivery is.</p>
                                                </div>
                                                                                    </div>
                                    </div>
                                </div>
							</div>
											</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="block_353">
	<div class="header-with-text ">
		<div class="bg"></div>
		<div class="divider-top"></div>
		<div class="divider-bottom"></div>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="text-block__title style-header-text">
						<h2 class="text-center"><span style="text-align: CENTER">How it works</span></h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="text-block__description style-header-text">
						<p class="text-center"><span style="text-align: CENTER">4 easy steps to give your business new heights.</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="block_350">
	<div class="how-it-works ">
		<div class="bg"></div>
		<div class="divider-top"></div>
		<div class="divider-bottom"></div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7">
					<div class="row">
						<div class="col-lg-12">
															<div class="how-it-works__card">
									<div class="card" style="
																																																																																																																																																																																">
										<div class="how-it-works__card-wrap">
											<div class="card__icon" style="justify-content: flex-end">
											  	<span class="card__icon-wrap" style="
												  	 height: 80px;                                                 	 width: 80px; 																																																																														                          						">
													<span class="card__icon-fa far fa-sign-in-alt" style="
														font-size: 56px;
														width: 56px;
														height: 56px;
														transform: rotate(0deg);
														color: #14ddd7;
														text-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
														border-radius: 0px;
														background: transparent;
														padding: 0px;
													"></span>
												</span>
											</div>
											<div class="card__number-wrap">
												<div class="card__number">
													<div class="number__count style-card-number" style="
															 width: 80px; 															 height: 80px; 																																																																																																																																																																																																			 font-size: 24px; 															">
														1
													</div>
												</div>
											</div>
											<div class="card__content">
												<div class="content__title style-how-it-card-title" style="margin-bottom: 8px; padding-top: 0px; padding-left: 0px; padding-right: 0px;"><p><strong style="font-weight: bold">Sign up</strong></p></div>
												<div class="content__desc style-how-it-card-desc" style="padding-left: 0px; padding-right: 0x;"><p>Start with signing up and logging in to your account.</p></div>
											</div>
										</div>
									</div>
									<div class="how-it-works__card-line style-card-number-line" style=""></div>
								</div>
															<div class="how-it-works__card">
									<div class="card" style="
																																																																																																																																																																																">
										<div class="how-it-works__card-wrap">
											<div class="card__icon" style="justify-content: flex-start">
											  	<span class="card__icon-wrap" style="
												  	 height: 80px;                                                 	 width: 80px; 																																																																														                          						">
													<span class="card__icon-fa far fa-wallet" style="
														font-size: 56px;
														width: 56px;
														height: 56px;
														transform: rotate(0deg);
														color: #1a87ff;
														text-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
														border-radius: 0px;
														background: transparent;
														padding: 0px;
													"></span>
												</span>
											</div>
											<div class="card__number-wrap">
												<div class="card__number">
													<div class="number__count style-card-number" style="
															 width: 80px; 															 height: 80px; 																																																																																																																																																																																																			 font-size: 24px; 															">
														2
													</div>
												</div>
											</div>
											<div class="card__content">
												<div class="content__title style-how-it-card-title" style="margin-bottom: 8px; padding-top: 0px; padding-left: 0px; padding-right: 0px;"><p><strong style="font-weight: bold">Add funds</strong></p></div>
												<div class="content__desc style-how-it-card-desc" style="padding-left: 0px; padding-right: 0x;"><p>Choose a suitable payment method to add funds to your account.</p></div>
											</div>
										</div>
									</div>
									<div class="how-it-works__card-line style-card-number-line" style=""></div>
								</div>
															<div class="how-it-works__card">
									<div class="card" style="
																																																																																																																																																																																">
										<div class="how-it-works__card-wrap">
											<div class="card__icon" style="justify-content: flex-end">
											  	<span class="card__icon-wrap" style="
												  	 height: 80px;                                                 	 width: 80px; 																																							 border-top-left-radius: 0px; 													 border-bottom-left-radius: 0px; 													 border-top-right-radius: 0px; 													 border-bottom-right-radius: 0px;                           						">
													<span class="card__icon-fa far fa-check-double" style="
														font-size: 56px;
														width: 56px;
														height: 56px;
														transform: rotate(0deg);
														color: #ffc157;
														text-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
														border-radius: 0px;
														background: transparent;
														padding: 0px;
													"></span>
												</span>
											</div>
											<div class="card__number-wrap">
												<div class="card__number">
													<div class="number__count style-card-number" style="
															 width: 80px; 															 height: 80px; 																																																																																																																																																																																																			 font-size: 24px; 															">
														3
													</div>
												</div>
											</div>
											<div class="card__content">
												<div class="content__title style-how-it-card-title" style="margin-bottom: 8px; padding-top: 0px; padding-left: 0px; padding-right: 0px;"><p><strong style="font-weight: bold">Select SMM services</strong></p></div>
												<div class="content__desc style-how-it-card-desc" style="padding-left: 0px; padding-right: 0x;"><p>Place orders and get ready to see your business gain more popularity.</p></div>
											</div>
										</div>
									</div>
									<div class="how-it-works__card-line style-card-number-line" style=""></div>
								</div>
															<div class="how-it-works__card">
									<div class="card" style="
																																																																																																																																																																																">
										<div class="how-it-works__card-wrap">
											<div class="card__icon" style="justify-content: flex-start">
											  	<span class="card__icon-wrap" style="
												  	 height: 80px;                                                 	 width: 80px; 																																																																														                          						">
													<span class="card__icon-fa far fa-grin-hearts" style="
														font-size: 56px;
														width: 56px;
														height: 56px;
														transform: rotate(0deg);
														color: #ff4587;
														text-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
														border-radius: 0px;
														background: transparent;
														padding: 0px;
													"></span>
												</span>
											</div>
											<div class="card__number-wrap">
												<div class="card__number">
													<div class="number__count style-card-number" style="
															 width: 80px; 															 height: 80px; 																																																																																																																																																																																																			 font-size: 24px; 															">
														4
													</div>
												</div>
											</div>
											<div class="card__content">
												<div class="content__title style-how-it-card-title" style="margin-bottom: 8px; padding-top: 0px; padding-left: 0px; padding-right: 0px;"><p><strong style="font-weight: bold">Enjoy superb results</strong></p></div>
												<div class="content__desc style-how-it-card-desc" style="padding-left: 0px; padding-right: 0px;"><p>Once your order is complete, enjoy the growth of your social media account.</p></div>
											</div>
										</div>
									</div>
									<div class="how-it-works__card-line style-card-number-line" style=""></div>
								</div>
													</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div id="block_327">
	<div class="reviews-block ">
		<div class="bg"></div>
		<div class="divider-top"></div>
		<div class="divider-bottom"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="reviews-block__title style-review-card-title"><h2>Success stories</h2></div>
					<div class="reviews-block__desc style-review-card-desc"><p>Check out some of our customers' success stories below.</p></div>
				</div>
				<div class="col-lg-8">
					<div class="row">
													<div class="col-lg-6 col-md-6 co-sm-12">
                                <div class="block-reviews__card">
                                    <div class="card card__reviews" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ">
                                        <div class="item__desc style-review-card-desc" style="padding-left: 0px; padding-right: 0px; margin-bottom: 16px;">
                                            <p>I couldn't figure out the best way to promote my business online that could be effective and affordable at the same time. This SMM panel is the best solution I've found so far! Just check their prices — you really can't go wrong with that.</p>
                                        </div>
                                        <div class="item__author style-review-card-author" style="padding-left: 0px; padding-right: 0px;">
                                            <p><strong style="font-weight: bold">Jane Kim</strong></p>
                                        </div>
                                    </div>
                                </div>
							</div>
													<div class="col-lg-6 col-md-6 co-sm-12">
                                <div class="block-reviews__card">
                                    <div class="card card__reviews" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ">
                                        <div class="item__desc style-review-card-desc" style="padding-left: 0px; padding-right: 0px; margin-bottom: 16px;">
                                            <p>If you're wondering how you can help your social media accounts get more attention fast, this is it! No need to wait for a long time either because SMM services on this panel are delivered super quickly. The services are sooo cheap too.</p>
                                        </div>
                                        <div class="item__author style-review-card-author" style="padding-left: 0px; padding-right: 0px;">
                                            <p><strong style="font-weight: bold">Olivia Jenkins</strong></p>
                                        </div>
                                    </div>
                                </div>
							</div>
													<div class="col-lg-6 col-md-6 co-sm-12">
                                <div class="block-reviews__card">
                                    <div class="card card__reviews" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ">
                                        <div class="item__desc style-review-card-desc" style="padding-left: 0px; padding-right: 0px; margin-bottom: 16px;">
                                            <p>When I just started my business, I didn't have a big budget and couldn't pay SMM agencies to work on my accounts. But finding this SMM panel solved this problem for good — now I can order any SMM services I want at such affordable prices!</p>
                                        </div>
                                        <div class="item__author style-review-card-author" style="padding-left: 0px; padding-right: 0px;">
                                            <p><strong style="font-weight: bold">Roy Jefferson</strong></p>
                                        </div>
                                    </div>
                                </div>
							</div>
													<div class="col-lg-6 col-md-6 co-sm-12">
                                <div class="block-reviews__card">
                                    <div class="card card__reviews" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ">
                                        <div class="item__desc style-review-card-desc" style="padding-left: 0px; padding-right: 0px; margin-bottom: 16px;">
                                            <p>I help individuals and businesses get their social media pages noticed online, and this SMM panel definitely makes my job so much easier. It also helped me earn so much more, highly, HIGHLY recommend.</p>
                                        </div>
                                        <div class="item__author style-review-card-author" style="padding-left: 0px; padding-right: 0px;">
                                            <p><span><strong style="font-weight: bold">Deepak Puri</strong></span></p>
                                        </div>
                                    </div>
                                </div>
							</div>
											</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="block_331">
	<div class="header-with-text ">
		<div class="bg"></div>
		<div class="divider-top"></div>
		<div class="divider-bottom"></div>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="text-block__title style-header-text">
						<h2 class="text-center">Top 5 Most Asked Questions</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="text-block__description style-header-text">
						<p class="text-center">We gathered 5 of the most asked questions from our panel visitors and replied to them.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="block_328">
	<div class="faq ">
		<div class="bg"></div>
		<div class="divider-top"></div>
		<div class="divider-bottom"></div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="row">
													<div class="col-lg-6 col-md-6 co-sm-12">
								<div class="block-faq__card" style="
																																																		                                    																																																		                                    																																																		                                    																																																		                                    																																																		                                    																																																		                                ">
									<span class="style-collapsed-background" style="">
										<div class="card card__faq collapsed" data-toggle="collapse" data-target="#faq-block-328-1" aria-expanded="false" aria-controls="#faq-block-328-1" style="
																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            ">
											<div class="block-faq__card-content">
												<div class="card-content__head">
													<div class="head__title style-faq-card-title">
														<p><strong style="font-weight: bold">What makes people look for SMM panels?</strong></p>
													</div>
													<div class="head__icon style-collapsed-icon" style="">
														<div class="faq-block__icon style-collapse-icon fas" style="
																																																																											                                                            font-size: 24px; 																																																																											                                                            "></div>
													</div>
												</div>
											</div>
										</div>

										<div class="card card__faq-desc" style="
																																																																								                                                    padding-top: 8px;
																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    ">
											<div class="card-content__desc collapse" id="faq-block-328-1">
												<div class="desc__body style-faq-card-desc" style="padding-left: 0px; padding-right: 0px;">
													<p>SMM panels are online stores that offer SMM services of different kinds.</p>
												</div>
											</div>
										</div>
									</span>
								</div>
							</div>
													<div class="col-lg-6 col-md-6 co-sm-12">
								<div class="block-faq__card" style="
																																																		                                    																																																		                                    																																																		                                    																																																		                                    																																																		                                    																																																		                                ">
									<span class="style-collapsed-background" style="">
										<div class="card card__faq collapsed" data-toggle="collapse" data-target="#faq-block-328-2" aria-expanded="false" aria-controls="#faq-block-328-2" style="
																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            ">
											<div class="block-faq__card-content">
												<div class="card-content__head">
													<div class="head__title style-faq-card-title">
														<p><strong style="font-weight: bold">What SMM services does your panel provide?</strong></p>
													</div>
													<div class="head__icon style-collapsed-icon" style="">
														<div class="faq-block__icon style-collapse-icon fas" style="
																																																																											                                                            font-size: 24px; 																																																																											                                                            "></div>
													</div>
												</div>
											</div>
										</div>

										<div class="card card__faq-desc" style="
																																																																								                                                    padding-top: 8px;
																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    ">
											<div class="card-content__desc collapse" id="faq-block-328-2">
												<div class="desc__body style-faq-card-desc" style="padding-left: 0px; padding-right: 0px;">
													<p>On our panel, we sell different types of SMM services: likes, followers, views, etc.</p>
												</div>
											</div>
										</div>
									</span>
								</div>
							</div>
													<div class="col-lg-6 col-md-6 co-sm-12">
								<div class="block-faq__card" style="
																																																		                                    																																																		                                    																																																		                                    																																																		                                    																																																		                                    																																																		                                ">
									<span class="style-collapsed-background" style="">
										<div class="card card__faq collapsed" data-toggle="collapse" data-target="#faq-block-328-3" aria-expanded="false" aria-controls="#faq-block-328-3" style="
																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            ">
											<div class="block-faq__card-content">
												<div class="card-content__head">
													<div class="head__title style-faq-card-title">
														<p><strong style="font-weight: bold">Are SMM services on this panel safe to order?</strong></p>
													</div>
													<div class="head__icon style-collapsed-icon" style="">
														<div class="faq-block__icon style-collapse-icon fas" style="
																																																																											                                                            font-size: 24px; 																																																																											                                                            "></div>
													</div>
												</div>
											</div>
										</div>

										<div class="card card__faq-desc" style="
																																																																								                                                    padding-top: 8px;
																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    ">
											<div class="card-content__desc collapse" id="faq-block-328-3">
												<div class="desc__body style-faq-card-desc" style="padding-left: 0px; padding-right: 0px;">
													<p>Of course! It's definitely safe to use all our SMM services, you won't lose your accounts.</p>
												</div>
											</div>
										</div>
									</span>
								</div>
							</div>
													<div class="col-lg-6 col-md-6 co-sm-12">
								<div class="block-faq__card" style="
																																																		                                    																																																		                                    																																																		                                    																																																		                                    																																																		                                    																																																		                                ">
									<span class="style-collapsed-background" style="">
										<div class="card card__faq collapsed" data-toggle="collapse" data-target="#faq-block-328-4" aria-expanded="false" aria-controls="#faq-block-328-4" style="
																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            ">
											<div class="block-faq__card-content">
												<div class="card-content__head">
													<div class="head__title style-faq-card-title">
														<p><strong style="font-weight: bold">Mass orders — how do they work?</strong></p>
													</div>
													<div class="head__icon style-collapsed-icon" style="">
														<div class="faq-block__icon style-collapse-icon fas" style="
																																																																											                                                            font-size: 24px; 																																																																											                                                            "></div>
													</div>
												</div>
											</div>
										</div>

										<div class="card card__faq-desc" style="
																																																																								                                                    padding-top: 8px;
																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    ">
											<div class="card-content__desc collapse" id="faq-block-328-4">
												<div class="desc__body style-faq-card-desc" style="padding-left: 0px; padding-right: 0px;">
													<p>A mass order is an effective way for users to save time, since it allows to place multiple orders with different links at once.</p>
												</div>
											</div>
										</div>
									</span>
								</div>
							</div>
													<div class="col-lg-6 col-md-6 co-sm-12">
								<div class="block-faq__card" style="
																																																		                                    																																																		                                    																																																		                                    																																																		                                    																																																		                                    																																																		                                ">
									<span class="style-collapsed-background" style="">
										<div class="card card__faq collapsed" data-toggle="collapse" data-target="#faq-block-328-5" aria-expanded="false" aria-controls="#faq-block-328-5" style="
																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            ">
											<div class="block-faq__card-content">
												<div class="card-content__head">
													<div class="head__title style-faq-card-title">
														<p><strong style="font-weight: bold">How does the Drip-feed feature work?</strong></p>
													</div>
													<div class="head__icon style-collapsed-icon" style="">
														<div class="faq-block__icon style-collapse-icon fas" style="
																																																																											                                                            font-size: 24px; 																																																																											                                                            "></div>
													</div>
												</div>
											</div>
										</div>

										<div class="card card__faq-desc" style="
																																																																								                                                    padding-top: 8px;
																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    ">
											<div class="card-content__desc collapse" id="faq-block-328-5">
												<div class="desc__body style-faq-card-desc" style="padding-left: 0px; padding-right: 0px;">
													<p>Grow your accounts as fast as you want with the help of Drip-feed. How it works: let's say you want 2000 likes on your post. Instead of getting all 2000 at once, you can get 200 each day for 10 days.</p>
												</div>
											</div>
										</div>
									</span>
								</div>
							</div>
													<div class="col-lg-6 col-md-6 co-sm-12">
								<div class="block-faq__card" style="
																																																		                                    																																																		                                    																																																		                                    																																																		                                    																																																		                                    																																																		                                ">
									<span class="style-collapsed-background" style="">
										<div class="card card__faq collapsed" data-toggle="collapse" data-target="#faq-block-328-6" aria-expanded="false" aria-controls="#faq-block-328-6" style="
																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            ">
											<div class="block-faq__card-content">
												<div class="card-content__head">
													<div class="head__title style-faq-card-title">
														<p><strong style="font-weight: bold">What is a mass order?</strong></p>
													</div>
													<div class="head__icon style-collapsed-icon" style="">
														<div class="faq-block__icon style-collapse-icon fas" style="
																																																																											                                                            font-size: 24px; 																																																																											                                                            "></div>
													</div>
												</div>
											</div>
										</div>

										<div class="card card__faq-desc" style="
																																																																								                                                    padding-top: 8px;
																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    ">
											<div class="card-content__desc collapse" id="faq-block-328-6">
												<div class="desc__body style-faq-card-desc" style="padding-left: 0px; padding-right: 0px;">
													<p>Use the mass order option when you need to place multiple orders at the same time.</p>
												</div>
											</div>
										</div>
									</span>
								</div>
							</div>
											</div>
				</div>
			</div>
		</div>
	</div>
</div> 

{% include 'footer.twig' %}
