  <div class="wrapper-content__footer">
       <div id="block_11">
    <div class="footer ">
        <div class="component_footer_single_line">
            <div class="component-footer">
                <div class="component-footer__public">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="component-footer__public-copyright"><center><p class="text-center"><span style="text-align: CENTER">{{ site["site_name"] }}&nbsp;© Copyright. All Rights Reserved.</span></p></center></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
     </div>
  </div>
</div>

<script type="text/javascript" src="/public/pro-red/js/panel/1607327652/bundle.js">
      </script>
  <script type="text/javascript" src="/public/pro-red/js/panel/1607327652/script.js">
      </script>
  <script type="text/javascript" src="/public/pro-red/js/mainf907.js?v=16074318161607327652">
      </script>
      
<script type="text/javascript" src="{{ site["url"] }}/public/modern/js/ajax.js">

	

  <script type="text/javascript" >
     window.modules.layouts = {"auth":0};   </script>
  <script type="text/javascript" >
     window.modules.signin = [];   </script>

  {% for script in scriptList %}
  <script type="text/javascript" src="{{ script }}"></script>
  {% endfor %}

  {{ footerCode }}

  <script src="https://www.google.com/recaptcha/api.js?hl=tr"></script>

</body>
</html>