{% include 'header.twig' %}
   <div class="wrapper-content">
    <div class="wrapper-content__header">
          </div>
    <div class="wrapper-content__body">
      <!-- Main variables *content* -->
      <div id="block_338">
    <div class="reset-password-form">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container">
            <div class="row reset-password-form__alignment">
                <div class="col-lg-6">
                    <div class="component_card">
                        <div class="card">
   
        {{ contentText }}
      </div>
    </div>
  </div>  </div>
 </div> </div>
</div> </div>
  </div>
</div>

{% include 'footer.twig' %}
